<h1>Publication List</h1>
<div>
  <% @publications.each do |publication| %>
    <p> <%=publication.id%></p> <br>
    <p> <%=publication.name%></p> <br>
    <p> <%=publication.email%></p> <br>
    <p> <%=publication.mobile_number%></p> <br>
  <%end%>
</div>